@font-face {
    font-family: "Raleway-Light";
    src: url("/assets/Raleway-Light.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway-Light', Arial, sans-serif;
}

.movie-carousel {
    display: flex;
    justify-content: space-evenly;
}

.movie-carousel>img {
    border: solid 1px black;
    border-radius: 7px;

}

.carousel{
    max-width: calc((100% / 200px))
}

.staf-pick {
    text-align: center;
    border: solid 1px black;
    border-radius: 7px;
}

.staf-header>p {
    margin: 1rem 0;
    font-size: xx-large;
}

.movie-container {
    display: flex;
    margin: 1rem;
}

.movie-container>* {
    flex-basis: 50%;
}

.movie-poster {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-title {
    font-size: x-large;
}

.movie-rating {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #322d32;
    min-height: 3rem;
    display: flex;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: white;
}

footer > *{
    margin: 0.5rem;
}

/* external css: flickity.css */

* {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
background: #EEE;
}

.gallery-cell {
    width: 200px;
    height: 300px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}